Django==2.0
django-ckeditor==5.4.0  
django-js-asset==1.2.1  
pip==21.1 
PyMySQL==0.9.3  
pytz==2018.9 
setuptools==40.7.2 
wheel==0.32.3 
Whoosh==2.7.4
urllib3==1.24.1
six==1.12.0
setuptools==40.7.2
requests==2.21.0
python-memcached==1.59
Pillow==5.4.1
jieba==0.39
idna==2.8
django-haystack==2.8.1
chardet==3.0.4
certifi==2018.11.29
