{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}

{# 页面标题 #}
{% block title %}
    Mysite
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/novel_list.css' %}">
{% endblock %}

{% block nav_novel_active %}
    active
{% endblock %}

{% block search %}
    search/
{% endblock %}


{# 页面内容 #}
{% block content %}
<div class="container">
    <div class="row">
        <div class="hidden-xs col-sm-5 col-md-4 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if user.is_authenticated %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {% if user.has_nikename %}
                                &nbsp;&nbsp;{{ user.get_nikename }} ，欢迎访问~~
                            {% else %}
                                &nbsp;&nbsp;{{ user.username }} ，欢迎访问~~
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;未登录
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if user.is_authenticated %}
                            <li ><a href="{% url 'user_info' %}">个人资料</a></li>
                            {% if user.is_staff or user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                            {% endif %}
                            <li><a href="{% url 'show_collection' %}">个人收藏</a></li>
                        {% else %}
                            <spen>用户未登录</spen>
                        {% endif %}
                    </div>
                </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% block list_title %}小说列表{% endblock %}
                </div>
                <div class="panel-body">
                    {% for novel in page_of_novels.object_list %}
                        <div class="novel">
                            <h3><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                <a href="{% url 'novel_detail' novel.pk %}">{{novel.novelname}}</a>
                            </h3>
                            <p class="info">
                                <spen>
                                    作&nbsp;&nbsp;&nbsp;&nbsp;者：&nbsp;<a href="{% url 'novel_writer' novel.writername %}">{{novel.writername}}</a>
                                </spen>
                                <spen>
                                    &nbsp;&nbsp;&nbsp;&nbsp;阅读次数：&nbsp;{{ novel.get_read_num }}&nbsp;&nbsp;&nbsp;&nbsp;评论数：&nbsp;{% get_comment_count novel  %}
                                </spen>
                                <button type="submit" class="btn btn-default pull-right" style="margin-left: 1em">
                                    <a href="{% url 'comment_views' novel.pk %}">评论</a>
                                </button>
                            </p>
                        </div>
                    {% empty %}
                        <div class="novel">
                            <p>-- 暂无小说，敬请期待 --</p>
                        </div>
                    {% endfor %}
                    <div class="paginator">
                        <ul class="pagination">
                            {% if page_of_novels.has_previous %}
                                <li>
                                    <a href="?page={{ page_of_novels.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>
                            {% else %}
                                <li><span aria-hidden="true">上一页</span></li>
                            {% endif %}
                            {% for page_num in page_range %}
                                {% if page_num == page_of_novels.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if page_of_novels.has_next %}
                                <li>
                                    <a href="?page={{ page_of_novels.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>
                            {% else %}
                                <li><span aria-hidden="true">下一页</span></li>
                            {% endif %}

                        </ul>
                        <p>
                            共有{{ page_of_novels.paginator.count }}本小说,共{{ page_of_novels.paginator.num_pages }}页
                            ,当前第{{ page_of_novels.number }}页

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
